<div class="panel panel-primary col-lg-9 center-block" style="float: none; padding-left: 0px; padding-right: 0px;">
	<div class="panel-heading">
		<h3 class="panel-title">Series You Follow</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Title</td>
					<td>Publisher</td>
					<td>Current Issue</td>
					<td>Next Issue Release Date</td>
					<td>Add to Calendar</td>
					<td>Remove</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="s in series">
					<td>{{s.series_id.name}}</td>
					<td>{{s.series_id.publisher_id.name}}</td>
					<td>{{s.latest_issue.issue_no | issueNum }}</td>
					<td>{{s.latest_issue.release_date | releaseDate}}</td>
					<td><div addthisevent></div></td>
					<td
						<button type="submit" class="btn btn-clear" ng-click="unsubscribe(s)">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button  class="btn btn-primary follow" type="button" ng-click="followAnother()"> Follow Another Series</button>
		</div>
	</div>
</div>
