<div class="row">
	<div class="form-header center-block col-lg-3 col-md-3" style="float: none;" ><h3>Login</h3></div>
	<div class="form-panel center-block col-lg-3 col-md-3">
		<div class="alert alert-danger" ng-show="error">
			{{error}}
		</div>
		<form role="form" class="form" name="loginForm">
			<div class="row center-block form-group">
				<label class="col-lg-6" for="username">Username</label> 
				<input class="col-lg-6" name="username" type="text" ng-model="credentials.username" required/>
			</div>
			<div class="row center-block form-group">
				<label class="col-lg-6" for="password">Password</label> 
				<input class="col-lg-6" name="password" type="password" ng-model="credentials.password" required/>
			</div>
			<div class="form-group">
				<button class="btn btn-primary col-lg-3 center-block" style="float:none;" name="login" ng-click="login()">Login</button>
				<a href="#/register" class="col-lg-10 center-block" style="float:none; text-align: center;" >Don't have an account?</a>

			</div>

		</form>
	</div>

</div>

