<form name="registerForm">
	<div class="center-content">
		<div class="row">
			<div class="col-md-6">
				<label>Username: </label>
			</div>
			<div class="col-md-6">
				<input name="username" ng-model="username" ng-minlength="3" ng-maxlength="10" required placeholder = "Enter Username"/>
				<span class="error" ng-show="registerForm.username.$error.minlength">Too short!</span>
    			<span class="error" ng-show="registerForm.username.$error.maxlength">Too long!</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label>Password: </label>
			</div>
			<div class="col-md-6">
				<input name="password" type="Password"  ng-model="password" ng-minlength="3" ng-maxlength="15" required placeholder = "Enter Password"/>
				<span class="error" ng-show="registerForm.password.$error.minlength">Too short!</span>
    			<span class="error" ng-show="registerForm.password.$error.maxlength">Too long!</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label>Confirm Password: </label>
			</div>
			<div class="col-md-6">
				<input name="confirmPassword" type="Password"  ng-model="confirmPassword" ng-minlength="3" ng-maxlength="15" required placeholder = "Confirm Password"/>
				<span class="error" ng-show="(confirmPassword != password)">Passwords do not match</span>
			</div>
		</div>
		<div class="row">
			<button type="button" class="btn btn-primary" ng-click="register()"  ng-disabled="(registerForm.$invalid || confirmPassword != password)" >Register</button>
		</div>
	</div>
	<h3 class="error" ng-show="error">Error Register Please Try Again Later</h3>
</form>